body {
  background-color: black;
}
.container {
  display: flex;
  max-width: 35%;
  flex-direction: column;
  margin: auto;
  border: 1px solid grey;
  background-color: white;
}

.encabezado {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-direction: row;
}

.encabezadoesq {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.icono-encabezado {
  display: flex;
  font-size: 50px;
}

.html5nomeusuario {
  display: flex;
  flex-direction: column;
}
.icono3ptos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
}
.foto img {
  width: 100%;
}

.subfoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.los3 {
  display: flex;
  gap: 15px;
  font-size: 50px;
}
.iconofavorito {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
}

.fondo {
  padding: 20px;
}
.texto {
  padding: 25px;
  font-style: ;
}
